<div class="form-group">
  <label for="title">청원 제목</label>
  <input required type="text" name="title" id="title" class="form-control" />
</div>
<div class="form-group">
  <label for="markdown">청원 내용</label>
  <textarea name="markdown" id="markdown" class="form-control"> </textarea>
</div>

<a href="/" class="btn btn-secondary">작성 취소</a>
<button type="submit" class="btn btn-primary">청원 등록하기</button>
