<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>진행중인 청원</title>
    <link rel="stylesheet" href="../css/defalt.css">
    <link rel="stylesheet" href="../css/in_progress.css">

</head>
<div class="wrapper"> 
    
    <header style="padding-top: 40px; padding-bottom: 10px;">
        <ul class="topnav">
            <li class=" right"><a href="Page1.html">로그인</a></li>
            <li><a href="Page2.html">회원가입</a></li>
            <li class="left" >
                <h2 href="/">
                <div >
                    <img class="logo-image" src="../img/school_logo_1.png" alt ="호치민시한국국제학교 로고">
                </div>
                </h2>
            </li>
            <li class="left" style="padding-left: 50px;  padding-top:20px;" > 
                <div class="vl_inBox fl" style="height: 40px; margin:0px;"> </div>
            </li>
            <li class="left" style="padding-left: 35px; font-size: 25px; font-weight: 700; padding-top: 4px;">
                <p>학생청원 2022</p>
            </li>
        </ul>
    </header>

<body style="margin:0px; ">
    <div class =" mx-auto text-center" id = 'banner'>
        <div>
            <img src="../img/진청.png" id = "banner-img"> 
        </div>    
    </div>
    <div class ="sub-title">
        <div class="vl"></div>
        <div class="sub-title-text" > <a> 답변된 청원</a> </div>  
    </div>
    <div class="notion">
        <div class="discript" style="display: table;">
            <div class="box_NoB">
                <p><button class="btn pad" style="height: 33px;" id="on-air"> 답변완료</button></p>
            </div>
            <div class="box_NoB">
                <p class="f38 bold" style="padding-bottom: 50px;"> 학교 매점을 돌려주세요</p>
            </div>
            <div class="round_box mx-auto" style="margin-bottom: 100px;">
                <div class="box_NoB fl" id="content">
                    <p>작성자 </p>
                    <p>참여인원 </p>
                    <p>청원기간 </p>
                </div>
                <div class="vl_inBox fl" id="line_1"> </div>
                <div class="box_NoB">
                </div>
                <div class="box_NoB fl" id="content1">
                    <p> 10628 홍길동 </p>
                    <p>376명 </p>
                    <p>2022년 7월 19일~ 2022년 7월 31일 </p>
                </div>
                    <div class="box_NoB" id="mar2">
                        <div class="content" style="margin-left: 150px; width: fit-content;">
                            <div class="circle" >
                                <div class="in_box_content" style="padding: 29px;"> 
                                    청원 시작 
                                </div>
                            </div>
                        </div>
                        <div class="right_arrow"> </div>
                        <div class="content" style="margin-left: 18px;">
                            <div class="circle circle-blue" >
                                <div class="in_box_content " id="white-font" style="padding: 29px;"> 
                                    청원 진행중
                                </div>
                            </div>
                        </div>
                        <div class="right_arrow"> </div>
                        <div class="content" style="margin-left: 18px;">
                            <div class="circle">
                                <div class="in_box_content" style="padding: 29px;"> 
                                    참여 인원 
                                </div>
                            </div>
                        </div>
                        <div class="right_arrow"> </div>
                        <div class="content" style="margin-left: 18px;">
                            <div class="circle">
                                <div class="in_box_content" style="padding: 29px;"> 
                                    청원 답변 
                                </div>
                            </div>

                        </div>    
                    </div>
            </div>
        </div>
    </div>
    <div>
        <div> 
            <p class="title" style="margin-top: 100px;" id="subtitle"> 청원내용 
            </p>
        </div>
        <div class="mx-auto middle">
            <div class="box_NoB" id="tl" style="padding: 30px 50px 30px 50px; width:100%; margin:0px;">
                <pre> 안녕하세요, 10학년 6반 28번 홍길동입니다. 

                </pre>
            </div>
        </div>
        <div> 
            <p class="title" style="margin-top: 100px;" id="subtitle"> 답변내용 
            </p>
        </div>
        <div class="mx-auto middle">
            <div class="box_NoB" id="tl" style="padding: 30px 50px 30px 50px; width:100%; margin:0px;">
                <pre> 안녕하세요, 10학년 6반 28번 홍길동입니다. 

                </pre>
            </div>
        </div>

    </div>
            <div class="frth-main mx-auto">
                <div class="petition_waiting mx-auto" style="height: 530px; width:fit-content;"> 
                    <ul> 
                        <li> <p class="fl idk">청원동의 </p>  <pre class="blue idk fl" style="margin-top:34px;">   376</pre><p class="fl idk">명</p></li>
                        <li class="w1040 pad_t_b_30"></li>
                    </ul>
                    <ul class="boards">
                        <li class="pad_t_b_30 back fl w250 titles mid_line" style="padding-left: 35px;"> 학교급식사랑 </li>
                        <li class="pad_t_b_30 back fl w1040 titles mid_line"> 동의합니다.</li> 
                    </ul>
                    <ul class="boards">
                        <li class="pad_t_b_30 back fl w250 mid_line" style="padding-left: 35px;"> 학교급식사랑 </li>
                        <li class="pad_t_b_30 back fl w1040 mid_line"> 동의합니다.</li>         
                    </ul>
                    <ul class="boards">
                        <li class="pad_t_b_30 back fl w250 mid_line" style="padding-left: 35px;"> 학교급식사랑 </li>
                        <li class="pad_t_b_30 back fl w1040 mid_line"> 동의합니다.</li>         
                    </ul>
                    <ul class="boards">
                        <li class="pad_t_b_30 back fl w250 mid_line" style="padding-left: 35px;"> 학교급식사랑 </li>
                        <li class="pad_t_b_30 back fl w1040 mid_line"> 동의합니다.</li>         
                    </ul>
                    <ul class="boards">
                        <li class="pad_t_b_30 back fl w250 mid_line" style="padding-left: 35px;"> 학교급식사랑 </li>
                        <li class="pad_t_b_30 back fl w1040 mid_line"> 동의합니다.</li>         
                    </ul>
                    
                </div>
                <div class="mx-auto" style="width: 300px">
                    <a class ="pge" href="#" id="previous2">&#8249;&#8249;</a>
                    <a class ="pge" href="#" id="previous2">&#8249;</a>
                    <a class ="pge" href="#" id="next2" style="background-color: #2962FF;">1</a>
                    <a class ="pge" href="#" id="next2">&#8250;</a>
                    <a class ="pge" href="#" id="next2">&#8250;&#8250;</a>
                </div>
            </div> 
    </div>
    <div class="box_NoB">
        <p style="margin-top: 50px;"><button class="btn pad" id="to-main"> 목록으로</button></p>
    </div>
</body>
</div>
</html>