<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>청원완료</title>
    <link rel="stylesheet" href="../css/defalt.css">
    <link rel="stylesheet" href="../css/done.css">

</head>
<div class="wrapper">
    <header style="padding-top: 40px; padding-bottom: 10px; border-bottom: 1px solid; ">
        <ul class="topnav">

            <% if(info==null){ %>

                <li class=" right"><a class="text" href="/login">로그인</a></li>
                <li><a class="text" href="/register">회원가입</a></li>
                <% }else{ %>
                    <li class=" right"><a class="text">로그인된 계정: <%= info.name %></a></li>
                    <li><a class="text" href="/logout">로그아웃</a></li>

                    <% } %>

                        <li class="left">
                            <h2 href="/">
                                <div>
                                    <a href="/"><img class="logo-image" src="../img/school_logo_1.png"
                                            alt="호치민시한국국제학교 로고"></a>
                                </div>
                            </h2>
                        </li>
                        <li class="left" style="padding-left: 50px;  padding-top:20px;">
                            <div class="vl_inBox fl" style="height: 40px;"> </div>
                        </li>
                        <li class="left"
                            style="padding-left: 35px; font-size: 25px; font-weight: 700; padding-top: 4px;">
                            <p>학생청원 2022</p>
                        </li>
        </ul>
    </header>

    <body>

        <div>
            <p class="title" style="font-weight:500; font-size: 17px; margin-bottom: 0px;"> 알림 </p>
        </div>
        <div>
            <p class="mx-auto" style="width: 35%; margin-top: -5px;" id="line"></p>
        </div>
        <div>
            <p class="title"
                style="font-weight:bold; letter-spacing: 0.000001cm; font-size: 50px; margin-top: 250px;  margin-bottom: 0px;">
                청원이 등록되었습니다. </p>
        </div>
        <div class="mx-auto text-center">
            <a href="/"><button class=btn style="margin-top: 260px;"> 메인화면으로 돌아가기 </button></a>
        </div>
    </body>
</div>
    <!-- <footer>
        <div class="fr f12 tr" style=" margin: 15px 30px 15px 15px;" >
        <p>청원 시스템 제작 TF팀 </p>
        <p class="fc4c4c4">이서현 이상효 장준혁 곽범준 </p>
        <p class="fc4c4c4"> 차세연 최지철  </p>

      </footer>  -->
</html>