<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1024px">
    <title>log in failure</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/defalt.css">
</head>

<div class="wrapper">
    <header style="padding-top: 40px; padding-bottom: 10px; border-bottom: 1px solid;">
        <ul class="topnav">
            <li class=" right"><a class="text" href="/login">로그인</a></li>
                <li><a class="text" href="/register">회원가입</a></li>
                <li class="left">
                    <div>
                        <a href="/"><img class="logo-image"  src="../img/school_logo_1.png" alt="호치민시한국국제학교 로고"></a>
                    </div>
                </li>
            </a>
            <li class="left" style="padding-left: 50px;  padding-top:20px;">
                <div class="vl_inBox fl" style="height: 40px; margin:0px;"> </div>
            </li>
            <li class="left" style="padding-left: 35px; font-size: 25px; font-weight: 700; padding-top: 4px;">
                <p>학생청원 2022</p>
            </li>
        </ul>
    </header>

    <body>
        <h1>메일 혹은 비밀번호가 올바르지 않습니다</h1>
        
    </body>
</form>
</div>
<!-- <footer>
    <div class="fr f12 tr" style=" margin: 15px 30px 15px 15px;" >
    <p>청원 시스템 제작 TF팀 </p>
    <p class="fc4c4c4">이서현 이상효 장준혁 곽범준 </p>
    <p class="fc4c4c4"> 차세연 최지철  </p>
</div>
  </footer>  -->
</html>