<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
    
</head>
<div class = "wrapper"> 
    <header>
        <ul class="topnav">
            <li class=" right"><a href="Page1.html">로그인</a></li>
            <li><a href="Page2.html">회원가입</a></li>
            <li class="left" >
                <h2 href="/">
                <div >
                    <img class="logo-image" src="school_logo_1.png" alt ="호치민시한국국제학교 로고">
                </div>
                </h2>
            </li>
        </ul>
    </header>
    <body>
        <div class =" mx-auto text-center" id = 'banner'>
            <div>
                <img src="school_background_banner.png" id = "banner-img"> 
                <div class="bottom-left">Left Bottom</div>
            </div>    
        </div>
        
        <div class= "middle">
            <hr class = "mx-auto" id ="line" style="min-width: 200px;"> </hr>
            <div class ="pad_t_b_15 flex-container" style="margin-top: 55px;">   
                <li class = 'box fst'>
                    <p class="red" >
                        명예훼손, 비속어 표현, 불건전한 내용 취지에 맞지 않는 내용 
                    </p>
                    <p> 
                        등을 담은 게시물은 관리자에 의해
                    </p>
                    <p class="red"> 
                         숨김처리 또는 삭제 
                    </p>
                    <p>
                        될 수 있습니다. 
                    </p> 
                </li>
                <li class = 'box scnd'>
                    <p>
                        청원 글 게시시,
                    </p>
                    <p>
                        청원글 동의시, 
                    </p>
                    <a>
                        학생들의 익명성을  <p class="blue"> 완전 보장</p> 해드립니다
                    </a>
                </li>
                <li class = 'box thd'>
                    <a>
                        명예훼손, 비속어 표현, 불건전한 내용... 
                    </a>
                </li>
            </div>
            <div class="mx-auto text-center"> 
                <a href="/write" class = "btn"  style ="margin-top: 100px;"> 학생 청원 글 게시하기</a>
            </div>
        </div>
        
            <div class ="sub-title">
                <div class="vl"></div>
                <div class="sub-title-text" > <a> 답변된 청원</a> </div>  
            </div>
            <div class = scnd-main>
                <div class="pad_t_b_15 flex-container">
                    <li class= "scnd_box fst"> 
                        학교 매점을 돌려주세요 
                        <hr id= "line" style="width: 54%;"> </hr> 
                        <div> 
                            <ul class="table_content" style="margin-top: 8px;" >
                                <li class="fl w70 f8 text_right">작성자</li>
                                <li class="fl w70 f8 text_left">10628 홍길동</li>
                            </ul>
                            <ul class="table_content" style="margin-bottom: 16px;">
                                <li class=" fl w70  f8 text_right">참여인원</li>
                                <li class=" fl w70 f8 text_left">376명</li>
                            </ul>
                        </div> 
                        <div class= "see-rply-btn" href="#" > 
                            답변보기
                        </div>
                    </li>            
                    <li class= "scnd_box scnd "> 
                        학교 매점을 돌려주세요 
                        <hr id= "line" style="width: 54%;"> </hr>
                        <div> 
                            <ul class="table_content" style="margin-top: 8px;" >
                                <li class="fl w70 f8 text_right">작성자</li>
                                <li class="fl w70 f8 text_left">10628 홍길동</li>
                            </ul>
                            <ul class="table_content" style="margin-bottom: 16px;">
                                <li class=" fl w70  f8 text_right">참여인원</li>
                                <li class=" fl w70 f8 text_left">376명</li>
                            </ul>
                        </div> 
                        <div class= "see-rply-btn" href="#" > 
                            답변보기
                        </div>
                    </li>            
                    <li class= "scnd_box thd "> 
                        학교 매점을 돌려주세요 
                        <hr id= "line" style="width: 54%;"> </hr> 
                        <div> 
                            <ul class="table_content" style="margin-top: 8px;" >
                                <li class="fl w70 f8 text_right">작성자</li>
                                <li class="fl w70 f8 text_left">10628 홍길동</li>
                            </ul>
                            <ul class="table_content" style="margin-bottom: 16px;">
                                <li class=" fl w70  f8 text_right">참여인원</li>
                                <li class=" fl w70 f8 text_left">376명</li>
                            </ul>
                        </div> 
                        <div class= "see-rply-btn" href="#" > 
                            답변보기
                        </div>
                    </li>            
                    <li class="scnd_box thd" id = "to-see-all" href="#">
                        전체 보기 
                    </li>            
                </div>
            </div>
            <div class ="sub-title">
                <div class="vl"></div>
                <div class="sub-title-text" > <a> 최다 추천 청원</a> </div>  
            </div>
            <div class="thd-main">
                <div class="thd_main"> 
                    <li class= "thd_box fst"> 
                        <div class="box_NoB">
                            <div>
                                참여인원 
                            </div>
                            <div >
                            <p class="f60 m10" style= "color: #2962FF;">138명</p> 
                            </div>
                            <div>
                                <ul class="table_content" style="margin-top: 8px;" >
                                    <li class="fl w70 f8 text_right">작성자</li>
                                    <li class="fl w70 f8 text_left">10628 홍길동</li>
                                </ul>
                                <ul class="table_content" style="margin-bottom: 16px;">
                                    <li class=" fl w70  f8 text_right">참여인원</li>
                                    <li class=" fl w70 f8 text_left">376명</li>
                                </ul>
                            </div>
                        </div>
                        <div class="vl_inBox fl"> </div>
                        <div class="box_NoB fl" style="width: 420px;">
                            <h2>
                                학교 급식메뉴를 개선해주세요
                            </h2>
                            <hr id= "line" style="width: 30%;"> </hr>
                            <P class="f8">
                                최근 학교 급식 메뉴에 밀가루 음식이 대부분입니다. 
                            </P>
                            <P class="f8">
                                건강하고 맜있는 .. 

                            </P>
                            <div class = "text_right" href="#"> 
                                자세히 보기
                                <div class ="fr"id="to-see-spe"> </div>
                            </div>
                        </div>
                    </li>
                    <li class= "thd_box fst">
                        <div class="box_NoB">
                            <div>
                                참여인원 
                            </div>
                            <div >
                            <p class="f60 m10" style= "color: #2962FF;">138명</p> 
                            </div>
                            <div>
                                <ul class="table_content" style="margin-top: 8px;" >
                                    <li class="fl w70 f8 text_right">작성자</li>
                                    <li class="fl w70 f8 text_left">10628 홍길동</li>
                                </ul>
                                <ul class="table_content" style="margin-bottom: 16px;">
                                    <li class=" fl w70  f8 text_right">참여인원</li>
                                    <li class=" fl w70 f8 text_left">376명</li>
                                </ul>
                            </div>
                        </div>
                        <div class="vl_inBox fl"> </div>
                        <div class="box_NoB fl" style="width: 420px;">
                            <h2>
                                학교 급식메뉴를 개선해주세요
                            </h2>
                            <hr id= "line" style="width: 30%;"> </hr>
                            <P class="f8">
                                최근 학교 급식 메뉴에 밀가루 음식이 대부분입니다. 
                            </P>
                            <P class="f8">
                                건강하고 맜있는 .. 

                            </P>
                            <div class = "text_right" href="#"> 
                                자세히 보기
                                <div class ="fr"id="to-see-spe"> </div>
                            </div>
                        </div> 
                    </li>
                    <li class= "thd_box fst">
                        <div class="box_NoB">
                            <div>
                                참여인원 
                            </div>
                            <div >
                            <p class="f60 m10" style= "color: #2962FF;">138명</p> 
                            </div>
                            <div>
                                <ul class="table_content" style="margin-top: 8px;" >
                                    <li class="fl w70 f8 text_right">작성자</li>
                                    <li class="fl w70 f8 text_left">10628 홍길동</li>
                                </ul>
                                <ul class="table_content" style="margin-bottom: 16px;">
                                    <li class=" fl w70  f8 text_right">참여인원</li>
                                    <li class=" fl w70 f8 text_left">376명</li>
                                </ul>
                            </div>
                        </div>
                        <div class="vl_inBox fl"> </div>
                        <div class="box_NoB fl" style="width: 420px;">
                            <h2>
                                학교 급식메뉴를 개선해주세요
                            </h2>
                            <hr id= "line" style="width: 30%;"> </hr>
                            <P class="f8">
                                최근 학교 급식 메뉴에 밀가루 음식이 대부분입니다. 
                            </P>
                            <P class="f8">
                                건강하고 맜있는 .. 

                            </P>
                            <div class = "text_right" href="#"> 
                                자세히 보기
                                <div class ="fr"id="to-see-spe"> </div>
                            </div>
                        </div> 
                    </li>
                </div>
            </div> 
            <div class ="sub-title">
                <div class="vl"></div>
                <div class="sub-title-text" > <a> 답변 대기 중인 청원 </a> </div> 
            </div>
            <div class="frth-main">
                <div class="petition_waiting"> 
                    <ul class="board">
                        <li class="pad_t_b_15 fl tc w70 title b_line">번호</li>
                        <li class="pad_t_b_15 fl tc w120 title b_line">진행상태</li>
                        <li class="pad_t_b_15 fl tc w500 title b_line">제목</li>
                        <li class="pad_t_b_15 fl tc w100 title b_line">청원기간</li>
                        <li class="pad_t_b_15 fl tc w100 title b_line">참여인원</li>
                    </ul>
                    <!--- 리스트 --->
                    <ul class="board">
                        <li class="pad_t_b_15 fl tc w70 list lt_line">5</li>
                        <li class="pad_t_b_15 fl tc w120 list lt_line blue">답변대기</li>
                        <li class="pad_t_b_15 fl tc w500 list lt_line">제목</li>
                        <li class="pad_t_b_15 fl tc w100 list lt_line">2019-02-11</li>
                        <li class="pad_t_b_15 fl tc w100 list  lt_line blue">1</li>
                    </ul>
                    <ul class="board">
                        <li class="pad_t_b_15 fl tc w70 list lt_line">4</li>
                        <li class="pad_t_b_15 fl tc w120 list lt_line blue">답변대기</li>
                        <li class="pad_t_b_15 fl tc w500 list lt_line">제목</li>
                        <li class="pad_t_b_15 fl tc w100 list lt_line">2019-02-11</li>
                        <li class="pad_t_b_15 fl tc w100 list  lt_line blue">1</li>
                    </ul>
                    <ul class="board">
                        <li class="pad_t_b_15 fl tc w70 list lt_line">3</li>
                        <li class="pad_t_b_15 fl tc w120 list lt_line blue">답변대기</li>
                        <li class="pad_t_b_15 fl tc w500 list lt_line">제목</li>
                        <li class="pad_t_b_15 fl tc w100 list lt_line">2019-02-11</li>
                        <li class="pad_t_b_15 fl tc w100 list  lt_line blue">1</li>
                    </ul>
                    <ul class="board">
                        <li class="pad_t_b_15 fl tc w70 list lt_line">2</li>
                        <li class="pad_t_b_15 fl tc w120 list lt_line blue">답변대기</li>
                        <li class="pad_t_b_15 fl tc w500 list lt_line">제목</li>
                        <li class="pad_t_b_15 fl tc w100 list lt_line">2019-02-11</li>
                        <li class="pad_t_b_15 fl tc w100 list  lt_line blue">1</li>
                    </ul>
                    <ul class="board">
                        <li class="pad_t_b_15 fl tc w70 list b_line">1</li>
                        <li class="pad_t_b_15 fl tc w120 list b_line blue">답변대기</li>
                        <li class="pad_t_b_15 fl tc w500 list b_line">제목</li>
                        <li class="pad_t_b_15 fl tc w100 list b_line">2019-02-11</li>
                        <li class="pad_t_b_15 fl tc w100 list  b_line blue">1</li>
                    </ul>
                </div>
                <div class="l">
                    <a class ="pge" href="#" id="previous2">&#8249;&#8249;</a>
                    <a class ="pge" href="#" id="previous2">&#8249;</a>
                    <a class ="pge" href="#" id="next2" style="background-color: #2962FF;">1</a>
                    <a class ="pge" href="#" id="next2">&#8250;</a>
                    <a class ="pge" href="#" id="next2">&#8250;&#8250;</a>
                </div>
            </div> 
            <div class ="sub-title">
                <div class="vl"></div>
                <div class="sub-title-text" > <a> 청원 목록 </a> </div> 
            </div>
            <div class="frth-main">
                <div class="petition_waiting"> 
                    <ul class="board">
                        <li class="pad_t_b_15 fl tc w70 title b_line">번호</li>
                        <li class="pad_t_b_15 fl tc w120 title b_line">진행상태</li>
                        <li class="pad_t_b_15 fl tc w500 title b_line">제목</li>
                        <li class="pad_t_b_15 fl tc w100 title b_line">청원기간</li>
                        <li class="pad_t_b_15 fl tc w100 title b_line">참여인원</li>
                    </ul>
                    <!--- 리스트 --->
                        <li class="list-group-item">
      <% for (var i = 0; i < posts.length; i ++) { %>
      <h4>청원 제목 : <%= posts[i].청원제목 %></h4>
      <p>청원 내용 : <%= posts[i].청원내용 %></p>
      <% } %>
    </li>
                </div>
                <div class="l">
                    <a class ="pge" href="#" id="previous2">&#8249;&#8249;</a>
                    <a class ="pge" href="#" id="previous2">&#8249;</a>
                    <a class ="pge" href="#" id="next2" style="background-color: #2962FF;">1</a>
                    <a class ="pge" href="#" id="next2">&#8250;</a>
                    <a class ="pge" href="#" id="next2">&#8250;&#8250;</a>
                </div>
            </div> 
        </div>
        <div>
            
        </div>
    </body>
    
</div>
  <!-- <footer>
    smth in footer
  </footer> -->
</html>