<div class="sub-title">
  <div class="vl"></div>
  <div class="sub-title-text"><a> 청원 목록 </a></div>
</div>
<div class="frth-main">
  <div class="petition_waiting">
    <ul class="board">
      <li class="pad_t_b_15 fl tc w70 title b_line">번호</li>
      <li class="pad_t_b_15 fl tc w120 title b_line">진행상태</li>
      <li class="pad_t_b_15 fl tc w500 title b_line">제목</li>
      <li class="pad_t_b_15 fl tc w100 title b_line">청원기간</li>
      <li class="pad_t_b_15 fl tc w100 title b_line">참여인원</li>
    </ul>
    <!--- 리스트 --->

    <% for (var i = 0; i < posts.length; i ++) { %>
    <ul class="board">
      <li class="pad_t_b_15 fl tc w70 title b_line">번호</li>
      <li class="pad_t_b_15 fl tc w120 title b_line">진행상태</li>
      <li class="pad_t_b_15 fl tc w120 title b_line">
        <a href="/detail/">청원 제목 : <%= posts[i].청원제목 %></a>
      </li>
      <li class="pad_t_b_15 fl tc w100 title b_line">
        청원 기간 : <%= posts[i].청원기간 %>
      </li>
      <li class="pad_t_b_15 fl tc w100 title b_line">참여인원</li>
    </ul>
    <% } %>
  </div>
</div>
