<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>답변된 청원 목록</title>
    <link rel="stylesheet" href="../css/defalt.css">
    <link rel="stylesheet" href="../css/petition_list.css">
</head>
<body>
    
    <div class="wrapper">
        <header style="padding-top: 40px; padding-bottom: 10px; margin: 0;">
            <ul class="topnav">
                <li class=" right"><a href="Page1.html">로그인</a></li>
                <li><a href="Page2.html">회원가입</a></li>
                <li class="left" >
                    <h2 href="/">
                    <div >
                        <img class="logo-image" src="../img/school_logo_1.png" alt ="호치민시한국국제학교 로고">
                    </div>
                    </h2>
                </li>
                <li class="left" style="padding-left: 50px;  padding-top:20px;" > 
                    <div class="vl_inBox fl" style="height: 40px; margin:0px;"> </div>
                </li>
                <li class="left" style="padding-left: 35px; font-size: 25px; font-weight: 700; padding-top: 4px;">
                    <p>학생청원 2022</p>
                </li>
            </ul>
        </header>
    
        <div class =" mx-auto text-center" id = 'banner'>
            <div>
                <img src="../img/답청.png" id = "banner-img"> 
                <div class="bottom-left"></div>
            </div>    
        </div>

        <div class ="sub-title mar_1" style="padding-top: 550px;">
            <div class="vl"></div>
            <div class="sub-title-text"  > <a> 답변된 청원</a> </div>  
        </div>

        <div class="main">
            <div class="round_box mx-auto">
                <div class="box_NoB">
                    <div class="" style="font-size: 18px;"> <p> 학교매점 돌려내 </p></div>
                    <div class="content" style="margin-left: 18px; width: fit-content;">
                        <div class="circle" style="background-color: #E5ECFF;">
                            <div class="in_box_content" style="padding: 34px;"> 
                                청원 시작 
                            </div>
                        </div>
                        <h3>
                            22/07/19 
                        </h3>
                    </div>
                    <div class="right_arrow"> </div>
                    <div class="content" style="margin-left: 18px;">
                        <div class="circle" style="background-color: #D5E0FF;">
                            <div class="in_box_content" style="padding: 34px;"> 
                                청원 마감 
                            </div>
                        </div>
                        <h3>
                            22/07/19 
                        </h3>
                    </div>
                    <div class="right_arrow"> </div>
                    <div class="content" style="margin-left: 18px;">
                        <div class="circle" style="background-color: #AEC3FF;">
                            <div class="in_box_content" style="padding: 34px;"> 
                                참여 인원 
                            </div>
                        </div>
                        <h3>
                            376명 
                        </h3>
                    </div>
                    <div class="right_arrow"> </div>
                    <div class="content" style="margin-left: 18px;">
                        <div class="circle" style="background-color: #6a92FF;">
                            <div class="in_box_content" style="padding: 34px;"> 
                                청원 답변 
                            </div>
                        </div>
                        <h3>
                            22/07/19 
                        </h3>
                    </div>    
                </div>
                <div class="vl_inBox fl" id="line_1"> </div>
                <div class="box_NoB" href="#" id="reply">
                    <p class="CNT">답변보기</p>
                    <div class="content" style="margin-left: 18px;">
                        <div class="circle" style="background-color: #264BB1;" id="SPE">
                            <div class="right_arrow" id= "RA"> </div>

                        </div>
                    </div> 
                </div>
            </div>
            <div class="round_box mx-auto">
                <div class="box_NoB">
                    <div class="" style="font-size: 18px;"> <p> 학교매점 돌려내 </p></div>
                    <div class="content" style="margin-left: 18px; width: fit-content;">
                        <div class="circle" style="background-color: #E5ECFF;">
                            <div class="in_box_content" style="padding: 34px;"> 
                                청원 시작 
                            </div>
                        </div>
                        <h3>
                            22/07/19 
                        </h3>
                    </div>
                    <div class="right_arrow"> </div>
                    <div class="content" style="margin-left: 18px;">
                        <div class="circle" style="background-color: #D5E0FF;">
                            <div class="in_box_content" style="padding: 34px;"> 
                                청원 마감 
                            </div>
                        </div>
                        <h3>
                            22/07/19 
                        </h3>
                    </div>
                    <div class="right_arrow"> </div>
                    <div class="content" style="margin-left: 18px;">
                        <div class="circle" style="background-color: #AEC3FF;">
                            <div class="in_box_content" style="padding: 34px;"> 
                                참여 인원 
                            </div>
                        </div>
                        <h3>
                            376명 
                        </h3>
                    </div>
                    <div class="right_arrow"> </div>
                    <div class="content" style="margin-left: 18px;">
                        <div class="circle" style="background-color: #6a92FF;">
                            <div class="in_box_content" style="padding: 34px;"> 
                                청원 답변 
                            </div>
                        </div>
                        <h3>
                            22/07/19 
                        </h3>
                    </div>    
                </div>
                <div class="vl_inBox fl" id="line_1"> </div>
                <div class="box_NoB" href="#" id="reply">
                    <p class="CNT">답변보기</p>
                    <div class="content" style="margin-left: 18px;">
                        <div class="circle" style="background-color: #264BB1;" id="SPE">
                            <div class="right_arrow" id= "RA"> </div>

                        </div>
                    </div> 
                </div>
            </div>
            <div class="round_box mx-auto">
                <div class="box_NoB">
                    <div class="" style="font-size: 18px;"> <p> 학교매점 돌려내 </p></div>
                    <div class="content" style="margin-left: 18px; width: fit-content;">
                        <div class="circle" style="background-color: #E5ECFF;">
                            <div class="in_box_content" style="padding: 34px;"> 
                                청원 시작 
                            </div>
                        </div>
                        <h3>
                            22/07/19 
                        </h3>
                    </div>
                    <div class="right_arrow"> </div>
                    <div class="content" style="margin-left: 18px;">
                        <div class="circle" style="background-color: #D5E0FF;">
                            <div class="in_box_content" style="padding: 34px;"> 
                                청원 마감 
                            </div>
                        </div>
                        <h3>
                            22/07/19 
                        </h3>
                    </div>
                    <div class="right_arrow"> </div>
                    <div class="content" style="margin-left: 18px;">
                        <div class="circle" style="background-color: #AEC3FF;">
                            <div class="in_box_content" style="padding: 34px;"> 
                                참여 인원 
                            </div>
                        </div>
                        <h3>
                            376명 
                        </h3>
                    </div>
                    <div class="right_arrow"> </div>
                    <div class="content" style="margin-left: 18px;">
                        <div class="circle" style="background-color: #6a92FF;">
                            <div class="in_box_content" style="padding: 34px;"> 
                                청원 답변 
                            </div>
                        </div>
                        <h3>
                            22/07/19 
                        </h3>
                    </div>    
                </div>
                <div class="vl_inBox fl" id="line_1"> </div>
                <div class="box_NoB" href="#" id="reply">
                    <p class="CNT">답변보기</p>
                    <div class="content" style="margin-left: 18px;">
                        <div class="circle" style="background-color: #264BB1;" id="SPE">
                            <div class="right_arrow" id= "RA"> </div>

                        </div>
                    </div> 
                </div>
            </div>
            <div class="round_box mx-auto">
                <div class="box_NoB">
                    <div class="" style="font-size: 18px;"> <p> 학교매점 돌려내 </p></div>
                    <div class="content" style="margin-left: 18px; width: fit-content;">
                        <div class="circle" style="background-color: #E5ECFF;">
                            <div class="in_box_content" style="padding: 34px;"> 
                                청원 시작 
                            </div>
                        </div>
                        <h3>
                            22/07/19 
                        </h3>
                    </div>
                    <div class="right_arrow"> </div>
                    <div class="content" style="margin-left: 18px;">
                        <div class="circle" style="background-color: #D5E0FF;">
                            <div class="in_box_content" style="padding: 34px;"> 
                                청원 마감 
                            </div>
                        </div>
                        <h3>
                            22/07/19 
                        </h3>
                    </div>
                    <div class="right_arrow"> </div>
                    <div class="content" style="margin-left: 18px;">
                        <div class="circle" style="background-color: #AEC3FF;">
                            <div class="in_box_content" style="padding: 34px;"> 
                                참여 인원 
                            </div>
                        </div>
                        <h3>
                            376명 
                        </h3>
                    </div>
                    <div class="right_arrow"> </div>
                    <div class="content" style="margin-left: 18px;">
                        <div class="circle" style="background-color: #6a92FF;">
                            <div class="in_box_content" style="padding: 34px;"> 
                                청원 답변 
                            </div>
                        </div>
                        <h3>
                            22/07/19 
                        </h3>
                    </div>    
                </div>
                <div class="vl_inBox fl" id="line_1"> </div>
                <div class="box_NoB" href="#" id="reply">
                    <p class="CNT">답변보기</p>
                    <div class="content" style="margin-left: 18px;">
                        <div class="circle" style="background-color: #264BB1;" id="SPE">
                            <div class="right_arrow" id= "RA"> </div>

                        </div>
                    </div> 
                </div>
            </div>
            <div class="round_box mx-auto">
                <div class="box_NoB">
                    <div class="" style="font-size: 18px;"> <p> 학교매점 돌려내 </p></div>
                    <div class="content" style="margin-left: 18px; width: fit-content;">
                        <div class="circle" style="background-color: #E5ECFF;">
                            <div class="in_box_content" style="padding: 34px;"> 
                                청원 시작 
                            </div>
                        </div>
                        <h3>
                            22/07/19 
                        </h3>
                    </div>
                    <div class="right_arrow"> </div>
                    <div class="content" style="margin-left: 18px;">
                        <div class="circle" style="background-color: #D5E0FF;">
                            <div class="in_box_content" style="padding: 34px;"> 
                                청원 마감 
                            </div>
                        </div>
                        <h3>
                            22/07/19 
                        </h3>
                    </div>
                    <div class="right_arrow"> </div>
                    <div class="content" style="margin-left: 18px;">
                        <div class="circle" style="background-color: #AEC3FF;">
                            <div class="in_box_content" style="padding: 34px;"> 
                                참여 인원 
                            </div>
                        </div>
                        <h3>
                            376명 
                        </h3>
                    </div>
                    <div class="right_arrow"> </div>
                    <div class="content" style="margin-left: 18px;">
                        <div class="circle" style="background-color: #6a92FF;">
                            <div class="in_box_content" style="padding: 34px;"> 
                                청원 답변 
                            </div>
                        </div>
                        <h3>
                            22/07/19 
                        </h3>
                    </div>    
                </div>
                <div class="vl_inBox fl" id="line_1"> </div>
                <div class="box_NoB" href="#" id="reply">
                    <p class="CNT">답변보기</p>
                    <div class="content" style="margin-left: 18px;">
                        <div class="circle" style="background-color: #264BB1;" id="SPE">
                            <div class="right_arrow" id= "RA"> </div>

                        </div>
                    </div> 
                </div>
            </div>
            <div class="mx-auto">
                <div class="">
                    <a class ="pge" href="#" id="previous2">&#8249;&#8249;</a>
                    <a class ="pge" href="#" id="previous2">&#8249;</a>
                    <a class ="pge" href="#" id="next2" style="background-color: #2962FF;">1</a>
                    <a class ="pge" href="#" id="next2">&#8250;</a>
                    <a class ="pge" href="#" id="next2">&#8250;&#8250;</a>
                </div>
        </div>
        </div>
        
    </div>
</body>
</html>