<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verify</title>
    <form class="mx-1 mx-md-4" action="/verifynum" method="POST">
        <div class="input-data">
            <input type="text" required="required" name="verify">
        </div>
        
    </form>
   

    
</head>
<body>
    
</body>
</html>