<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <div class = "wrapper"> 
    <header>
        <ul class="topnav">
            <li class=" right"><a href="login">로그인</a></li>
            <li><a href="register">회원가입</a></li>
            <li class="left" >
                <h2 href="/">
                <div >
                    <a href = "/">
                        <img class="logo-image" src="school_logo_1.png" alt ="호치민시한국국제학교 로고">
                    </a>
                </div>
                </h2>
            </li>
        </ul>
    </header>
    <body>
        <div class =" mx-auto text-center" id = 'banner'>
            <div>
                <img src="school_background_banner.png" id = "banner-img"> 
                <div class="bottom-left">Left Bottom</div>
            </div>    
        </div>
        
        <div class= "middle">
            <hr class = "mx-auto" id ="line" style="min-width: 200px;"> </hr>
            <div class ="pad_t_b_15 flex-container" style="margin-top: 55px;">   
                <li class = 'box fst'>
                    <p class="red" >
                        명예훼손, 비속어 표현, 불건전한 내용 취지에 맞지 않는 내용 
                    </p>
                    <p> 
                        등을 담은 게시물은 관리자에 의해
                    </p>
                    <p class="red"> 
                         숨김처리 또는 삭제 
                    </p>
                    <p>
                        될 수 있습니다. 
                    </p> 
                </li>
                <li class = 'box scnd'>
                    <p>
                        청원 글 게시시,
                    </p>
                    <p>
                        청원글 동의시, 
                    </p>
                    <a>
                        학생들의 익명성을  <p class="blue"> 완전 보장</p> 해드립니다
                    </a>
                </li>
                <li class = 'box thd'>
                    <a>
                        명예훼손, 비속어 표현, 불건전한 내용... 
                    </a>
                </li>
            </div>
        </div>

  </body>
</html>
