<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>청원글 게시하기</title>
    <link rel="stylesheet" href="../css/defalt.css">
    <link rel="stylesheet" href="../css/write.css">

</head>
<header style="padding-top: 40px; padding-bottom: 10px; margin: 0;">
    <ul class="topnav">
        <li class=" right"><a href="/login">로그인</a></li>
        <li><a href="/register">회원가입</a></li><a href="/">
            <li class="left">
                <h2 href="/">
                    <div>
                        <img class="logo-image" src="../img/school_logo_1.png" alt="호치민시한국국제학교 로고">
                    </div>
                </h2>

            </li>
        </a>
        <li class="left" style="padding-left: 50px;  padding-top:20px;">
            <div class="vl_inBox fl" style="height: 40px; margin:0px;"> </div>
        </li>
        <li class="left" style="padding-left: 35px; font-size: 25px; font-weight: 700; padding-top: 4px;">
            <p>학생청원 2022</p>
        </li>
    </ul>
</header>

<body>
    <div class=" mx-auto text-center" id='banner'>
        <div>
            <img src="../img/청게.png" id="banner-img">
        </div>
    </div>
    <div class="notion">
        <p class="bold title f38" style="margin-top: 100px;margin-bottom: 3px; font-size: 38px;">
            안내 및 주의사항
        </p>
        <p class="title" style="color:#c4c4c4;font-size: 18px;margin-top: 0px;">
            서이트 이용 전 필독 하여 주십시오.
        </p>
        <div class="discript">
            <div class="box_NoB ">
                <p>숨김 처리 및 삭제 사유 </p>
                <div class="fl tl dis">
                    <p>
                    <p class="red">명예훼손, 비속어 표현, 불건전한 내용, 취지에 맞지 않는 내용</p>
                    <p> 등을 담은 게시물은 권리자에 의해 숨김처리 또는 삭제될 수 있습니다. </p>
                    </p>
                </div>
            </div>
            <div class="box_NoB fl">
                <p>중복과 도배 방지 정책</p>
                <div class="fl tl dis">
                    <p>동일 이용자에 의해 동일한 내용으로 중복 게시된 청원은 </p>
                    <p>최초 1개만 남기고 숨은처리 또는 삭제될 수 있습니다. </p>
                </div>
            </div>
            <div class="box_NoB tl">
                <p> 익명성 보장 </p>
                <div class="fl tl dis">
                    <p> 본 사이트는 청원 글 게시와 동이에 대해 학생들의 익명성을 보장합니다. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="box_NoB" id="lns">
        <p>호치민시한국국제학교 학생청원은 아래와 같이 진행됩니다.</p>
        <p>1. 본교에 재학 중안 학생은 누구나 로그인 후 '학생 청원 글 게시하기'를 통해 청원 게시판 글을 등록할 수 잇습니다. </p>
        <p>1. 본교에 재학 중안 학생은 누구나 로그인 후 '학생 청원 글 게시하기'를 통해 청원 게시판 글을 등록할 수 잇습니다. </p>
        <p>1. 본교에 재학 중안 학생은 누구나 로그인 후 '학생 청원 글 게시하기'를 통해 청원 게시판 글을 등록할 수 잇습니다. </p>
        <p>1. 본교에 재학 중안 학생은 누구나 로그인 후 '학생 청원 글 게시하기'를 통해 청원 게시판 글을 등록할 수 잇습니다. </p>
    </div>
    <div>
        <form action="/add" method="POST">
            <div class=" title" style="font-size: 38px; margin-top:100px; margin-bottom: 70px;">
                청원글 작성
            </div>
            <div class="mx-auto" style="width: 1500px; height: 700px; padding-left: 4.5cm;">

                <%- include('_form_fields')%>


            </div>
            <div class="mx-auto text-center">
                <a href="/"><button href="" class=btn style="margin-top: 80px;"> 작성 최소</button></a>
                <a href="done"><button type="submit" href="done" class=btns style="margin-top: 80px;"> 청원
                        등록하기</button></a>
            </div>
    </div>
    </form>
    </div>
</body>

</html>