/*navbar */ 
.pointer{
  cursor:pointer;
}
body{
  margin:0px;
}
.wrapper{
  overflow: hidden;
}
.a{
  margin-left:30px;
}
.wrapper {
  height:auto;
  min-height: 100%;
}
.ofh{overflow: hidden;}
ul.topnav {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: white;
    font-family: arial;
    text-align: right;
    width: 100%;
    position: sticky;
    top: 0px;
    height: 72px; 

  }
.space4{
  letter-spacing: -0.4ch;
}
  ul.topnav li {float: right;}
  ul.topnav li a.text {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    font-size: 15px;
    padding-right: 40px; 
    padding-top: 50px;
    /* border-right: 1px solid #bbb;  */
  }

  ul.topnav li.right{
    padding-right: 20%;
  }

  .logo-image{ 
    width: 90%; 
    cursor:pointer;
  }
  ul.topnav li.left {
    float: left;
    padding-left: 3%;
  }
 
.red{ 
    color: red; 
}
.blue{ 
    color: blue; 
}
.bold{
  font-weight: bold;
}
.fon-707070{
  color:#707070;
}
.w30{width:30px; }
.w50 {width:50px; }
.w60 {width:60px; }
.w70 {width:70px; }
.w500 {width: 650px; }
.w120 {width:120px; }
.w100 {width:150px; }
.w300{width: 300px;}
.w200{width: 200px;}
.w250{width: 250px;}
.w400{width: 400px;}
.w600{width: 600px;}
.w700{width: 700px;}
.w800{width: 800px;}
.w900{width: 900px;}
.w1000{width: 1000px;}
.w1040{width: 1040px;}
.w1100{width: 1100px;}
.f8{ font-size: 8px;}
.f12{ font-size: 12px;}
.f20{font-size: 20px;}
.oh{overflow: hidden;}
footer {
  height: 131px;
  background: #4D4D4D;
  color:#fff;
  position: relative; 
  margin-top: -131px;
}
.f38{ font-size: 38px;}
.f17{ font-size: 17px;}
.f31{ font-size: 31px;}
.f60{ font-size: 60px;}
.fl {float:left; }
.fr {float:right; }
.tc {text-align:center; }
.tl {text-align:left; }
#tl {text-align:left; }
.f707070{color: #707070;}
.fc4c4c4{color: #c4c4c4;}
.dis{
  font-size: 30px; 
  color: #707070;
  font-family: pretendard, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.title {
	height: 50px;
	line-height: 50px;
    font-weight: bold;
    text-align: center;
}
.board {width: 1200px; }
.board1 {width: 1400px; }
.b_line{border-bottom:solid 2px #000000}
.pad_t_b_15{ padding-top: 15px; padding-bottom: 15px;}
.pad_t_b_14{ padding-top: 15px; padding-bottom: 14px;}

.mar30{
  margin-left: 30px;
  margin-right: 30px
}
.inline{display: inline; font-size: 25px;}
.sub-title{ 
  float: left;
  display: flex; 
  padding-left: 15%;
  width: 300px; 
  padding-top: 70px;  
}
.sub-title-text{ 
  padding-left: 20px; 
  font-size: 24px;
  width: 300px;
  font-weight: bold;
}
.vl {
  border-left: 7px solid #2962FF;
  height: 30px;
  left: 50%;
  margin-left: 15%;
  top: 0;
}
#line{ 

  position: relative; 
  height:1px;
  border-width:100;
  width: 15%; 
  color:gray;
  background-color:gray
}
#banner {
  width: 100%;
  position: absolute;
  background-color: #000;
  background-position: center;
  overflow: hidden;
}
.mx-auto{ 
  margin-right: auto!important; 
  margin-left: auto!important; 
}
.text-center{ 
  text-align: center!important;
}

.bottom-left {
  position: absolute;
  bottom: 5px;
  left: 50px;
} 

#banner-img{ 
  max-width: 1600px;
  width: 80%; 
  min-width: 1000px;
  
} 
.pad_300{
  padding-top: 300px;
}

.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
} 

.jc{
  justify-content: center;
}
.bold{
  font-weight: bold;
}

.right_arrow{ 
  width:30px;
  height:30px;
  transition:.5s;
  float:left;
  box-shadow:-3px 3px 0 #000;
  transform: rotate(225deg);
}

.h2{ 
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.pge {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  font-family: 'Quicksand', sans-serif;
}

#previous2 {
  background-color: #d6d6d6;
  color: black;
}

#next2 {
  background-color: #d6d6d6;
  color: white;
}


#previous2, #next2 {
  border-radius: 30px;
  margin: 6px;
}

.mar_1{ 
  margin-top: 8%; 
}

.dis_table{
  display: table;
}


