.round_box{
    transition: all 0.2s ease;
    padding: 10px 30px; 
    border-width: 100px; 
    border-radius: 41px;
    width: 800px; 
    height: 250px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    margin-top:10px;
}

.main{
    margin-top:30px;

}
.smth{
    margin-top: 8%;
    padding-top:660px;
}



.content{ 
    transition: all 0.2s ease;
    box-shadow: 2.12px 2.12px 4px rgb(50 50 50 / 0%);
    border-width: 0px;
    border-radius: 10px;
    /* width: fit-content;
    block-size: fit-content;  */
    background: rgba(255, 255, 255, 0);
    list-style: none;
    float: left;  
    margin: 10px;
    width: fit-content; 

    font-weight: bold;
    text-align: center;
    /* transform: translate(-30%); */
}
.in_box_content{ 
    height: fit-content;
    width: fit-content;
    font-size: 15px;
}
.right_arrow{ 
    margin-top: 48px;
    margin-left: -17px;

  }
  
  .vl_inBox {
    border-left: 1px solid #000000;
    height: 224px;
    top: 0;
    margin-top: 13px; 
  }

  .box_NoB{ 
    transition: all 0.2s ease;
    box-shadow: 2.12px 2.12px 4px rgb(50 50 50 / 0%);
    border-width: 0px;
    border-radius: 10px;
    /* width: fit-content;
    block-size: fit-content;  */
    background: rgba(255, 255, 255, 0);
    list-style: none;
    float: left;  
    margin: 10px;
    min-width: 300px; 

    font-weight: bold;
    /* transform: translate(-30%); */
    
}

#RA{
    margin-top: 26px;
    margin-left: 15px;
    box-shadow: -3px 3px 0 #fff;

}
#reply{
    width:136px;
    margin-left: 30px;
    text-align: center;
    min-width: 0px;
}
.CNT{
    padding-top: 30px;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
}
#SPE{
    margin-left: 8px; 
    width:80px; 
    height: 80px;
}
#line_1{
    padding-left: 32px;
    padding-right: 10px;
    transform: rotate(180deg);
}
.round_box{
    margin-bottom: 60px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 

}
.l{
    margin-left: 254px;
}