
/*banner */  

/* body*/ 

/* html,body{
    width: 100%; 
    height: 100%;
} */
.check{
    margin-top:177px;
    position: relative;
}
.wrapper{
    height:auto; 
    min-height: 100%;
    padding-bottom: 100px;
}

.middle{ 
    padding-top: 300px;  
    margin-top: 10%; 
}

.b_line{border-bottom:solid 2px #000000}


#in-the-box{ 
    width: 20%; 
}
.round_box{ 
    transition: all 0.2s ease;
    padding: 4px 6px;
    box-shadow: 2.12px 2.12px 4px rgb(50 50 50 / 0%);
    border-width: 0px;
    border-radius: 200px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid #000000
}

.flex-container{ 
    display: flex;
    margin-top: 130px; 
    justify-content: center;
    /* justify-content: center; */

}
.box{ 
    transition: all 0.2s ease;
    padding: 30px 30px;
    box-shadow: 2.12px 2.12px 4px rgb(50 50 50 / 0%);
    border-width: 0px;
    border-radius: 31px;
    /* width: fit-content;
    block-size: fit-content;  */
    background: rgba(255, 255, 255, 0);
    border: 1px solid #000000;
    list-style: none;
    float: left;  
    margin: 10px;
    max-width: 500px;
    font-weight: bold;
    text-align: center;
    /* transform: translate(-30%); */
    box-shadow: 1px 1px 1px 1px #888888;
    
}
.box_NoB{ 
    transition: all 0.2s ease;
    box-shadow: 2.12px 2.12px 4px rgb(50 50 50 / 0%);
    border-width: 0px;
    border-radius: 10px;
    /* width: fit-content;
    block-size: fit-content;  */
    background: rgba(255, 255, 255, 0);
    list-style: none;
    float: left;  
    margin: 10px;
    min-width: 300px; 
max-width: 350px; 
    font-weight: bold;
    text-align: center;
    /* transform: translate(-30%); */
    
}
.box.fst{ 
    margin-left: 40px;
    margin-right: 10px; 
    font-weight: bold;
}
.box.scnd{ 
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 200;
    padding: 30px 30px 30px 30px;  
    /* transform: translate(-25%); */
}
.box.thd{ 
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 100; 
}



.btn{ 
    font-size: 38px; 
    font-weight: 600;
    background: #2962FF;
    padding: 15px;
    height: 80px; 
    width: 472px;   
    text-align: center; 
    text-decoration: none; 
    color:#fff; 
    border-radius: 100px; 
    cursor: pointer; 
    border-color: #2962FF;
}
.see-rply-btn{ 
    font-size: 7px; 
    background: #264BB1;
    padding: 15px;
    height: fit-content; 
    width: 118px; 
    
    text-align: center; 
    text-decoration: none; 
    color:#fff; 
    border-radius: 100px; 
    cursor: pointer; 
    border-color: #264BB1;
    margin-left: 24px;
}

.fst-box{
    width:428px; 
    height:546px; 
    background-color: #f4f4f4;
    border: #fff;
    box-shadow: 1px 1px 1px 1px #fff;
}
.discript{
    width:100%; 
    background-color: #f4f4f4;
    height: 556px;
    display: flex;
    justify-content: center;
}

.vl_inBox {
    border-left: 1px solid #000000;
    height: 210px;
    top: 0;
  }
.scnd-main{ 
    margin-top: 3%; 
}


.scnd_box{ 
    transition: all 0.2s ease;
    padding: 30px 30px;
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.5); 
    border-width: 0px;
    border-radius: 30px;
    /* width: fit-content;
    block-size: fit-content;  */
    background: rgba(255, 255, 255, 0);
    list-style: none;
    float: left;  
    margin: 10px;
    min-width: 200px; 
    max-width: 500px;
    font-weight: bold;
    text-align: center;
    height: 138px;
    padding-top: 40px; 
    /* transform: translate(-30%); */

}
.table_content{
    width: 180px; 
    padding:8px; 
    margin-top: 0px;
    margin-bottom: 0px; 
}

#to-see-all{ 
    width: 150px; 
    list-style: none; 
    margin-left: 30px;
    margin-top: 35px;

}
#to-see-spe{ 
    display: inline-block;
    margin-top: 15px;
    margin-right: 10px;
    font-size: 18px;
}

.round{ 
    width: 120px; 
    border-radius: 60px; 
    list-style: none;
}


.container{ 
    margin-left: 15%;
    justify-content: space-around;
    height:1000px;
}

.thd_box{ 
    transition: all 0.2s ease;
    padding: 30px 30px;
    box-shadow: 2.12px 2.12px 4px rgb(50 50 50 / 0%);
    border-width: 100px;
    border-radius: 41px;
    /* width: fit-content;
    block-size: fit-content;  */
    background: rgba(255, 255, 255, 0);
    /* border: 1px solid #000000; */
    list-style: none;
    margin-bottom: 27px;
    width: 710px;
    height: 203px;
    font-weight: bold;
    text-align: center;
    /* transform: translate(-30%); */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 

}
.thd_main{ 
    margin-top: 130px;
    position:relative;
}
ul li {list-style:none; white-space: nowrap; }
.pad_t_b_1{ padding-top: 15px; padding-bottom: 1px;}
.pad_t_b_24{ padding-top: 24px; padding-bottom: 24px;}


.m10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.text_right{
    text-align: right;
    margin-right: 36px;
}
.text_left{
    text-align: left;
}

.lt_line {border-bottom:solid 1px black;}

.frth-main{  
    margin-top: 130px;
    left: 35px; 
    margin-left:15%; 
    width: fit-content;
}
.petition_waiting{ 
    height: 375px;
}
@media (min-width:320px ) and (max-width:1050px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

.os{
    overflow: scroll;
}
.jcun{
    justify-content: unset;
}
.board{
    width:1000px;
}
}
.l{ 
    margin-left: 494px; 
}
@media (min-width:320px) and (max-width: 1350px){
    #eee{
        overflow: auto;
        justify-content:unset;
    }
}


/*footer */ 


main:after {
    content: "";
    display: block;
    height: 100px;
}


.arrow-right{
    height: 120px;
    width: 30px;
    display :inline-block;
    position: relative;
  }
.arrow-right::before {
    content: "";
    height: 60px;
    width: 60px;
    top: 12px;
    left: 30px;
    border-width: 8px 8px 0 0;
    border-color: blue;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
  }
.arrow-right::after {
    content: "";
    height: 60px;
    width: 60px;
    top: 12px;
    border-width: 8px 8px 0 0;
    border-color: blue;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
  }

